{% extends 'base.html' %}
{% load notifications_tags %}

{% block head %}
  {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
<title>Création d'un Utilisateur</title>
{% endblock %}

{% block body %}
  {% if messages %}
<div class="alert alert-success" role="alert">

 {% for message in messages %}
    {% if message.tags %} {{ message.tags }}{% endif %}
    {{ message }}
    {% endfor %}

</div>

  {% endif %}
<div class="etudiant" >
    <form method="post" action="{% url 'create_user' %}">
          <button type="button" class="btn btn-primary btn-lg btn-block">Création d'un Utilisateur </button>

          <table class="table table-hover">
        {% csrf_token %}
                       <tbody>
    <tr>
      <th scope="row">username:</th>
      <td> {{ form.username }}</td>
    </tr>
      <tr>
      <th scope="row">Nom:</th>
      <td>{{ form.first_name }}</td>
    </tr>
       <tr>
      <th scope="row">Prenom:  </th>
      <td>{{ form.last_name }}</td>
    </tr>
     <tr>
      <th scope="row"> email:</th>
      <td>{{ form.email }}</td>
         <tr>
         <th scope="row"> Mot de pass:</th>
      <td>{{ form.password1 }}</td>
    </tr>
    <tr>
         <th scope="row"> confirmé Mot de pass:</th>
      <td>{{ form.password2 }}</td>
    </tr>
                       </tbody></table>

              <button type="submit" class="btn btn-primary">crée et continuer</button>


    </form>

</div>

{% endblock %}