{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">


      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Profile Informations</h3>
            </div>
            <div class="panel-body">
              <div class="row">

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                        <tr>
                        <td>UserName:</td>
                        <td>{{ user }}</td>
                      </tr>
                      <tr>
                        <td>First name:</td>
                        <td>{{ user.first_name }}</td>
                      </tr>
                      <tr>
                        <td>last name: </td>
                        <td>{{ user.last_name }}</td>
                      </tr>

                      <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>


                      </tr>

                    </tbody>
                  </table>

                </div></div></div></div></div></div></div>

{% endblock %}
