{% extends 'base.html' %}

{% block head %}
<title>Pv_Filière</title>
{% endblock %}
{% block body %}
<div class="container">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
   Les Parcours
  </a>
    <a href="{% url 'pv_l1' %}" class="list-group-item list-group-item-action">Licence 1</a>
    <a href="{% url 'pv_l2' %}" class="list-group-item list-group-item-action">Licence 2</a>
    <a href="{% url 'pv_l3' %}" class="list-group-item list-group-item-action">Licence 3</a>
    <a href="{% url 'pv_m1' %}" class="list-group-item list-group-item-action">Master 1</a>
    <a href="{% url 'pv_m2' %}" class="list-group-item list-group-item-action">Master2</a>
</div>
</div>
{% endblock %}