{% extends 'base.html' %}

{% block head %}

<title>Services Secretariat</title>


{% endblock %}
{% block body %}
{% if messages %}
<div class="alert alert-success" role="alert">

    {% for message in messages %}
    {% if message.tags %} {{ message.tags }}{% endif %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Qui voulez-vous notifiez ?
  </a>
<a class="list-group-item list-group-item-action" href="{% url 'document_chef' %}">envoyer au chef departement un dossier a traiter</a>
<a class="list-group-item list-group-item-action" href="{% url 'document_pg' %}">envoyer au  Adjoint Post graduation un dossier a traiter</a>
<a class="list-group-item list-group-item-action" href="{% url 'document_scol' %}">envoyer au  Adjoint Scolarité un dossier a traiter</a>
<a class="list-group-item list-group-item-action" href="{% url 'document_f' %}">envoyer au Responsable filière un dossier a traiter</a>
<a class="list-group-item list-group-item-action" href="{% url 'document_peda' %}">envoyer au Adjoint Pedagogie un dossier a traiter</a>
<a class="list-group-item list-group-item-action" href="{% url 'document_et' %}">envoyer au etudiant la reponse de son demande</a>
</div>
{% endblock %}


