{% extends 'base.html' %}

{% block head %}
<title>dossier_trater</title>
{% endblock %}
{% block body %}
<div class="container">
    {% if document %}


<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Documents a Traiter
  </a>
{% for doc in document %}
<a href="{{ doc.file.url }}" class="list-group-item list-group-item-action">{{ doc.description }}</a>
      {% endfor %}
</div>
    <a href="{% url 'delete' %}" class="btn btn-primary">Vider la liste</a>
    {% else %}
    <div class="list-group">
        </br>
     <a href="#" class="list-group-item list-group-item-action active">
    Documents a Traiter
  </a>

<a href="" class="list-group-item list-group-item-action">Pas de Document A traiter</a>

</div>

    {% endif %}
</div>

{% endblock %}